.home-page{
    display: flex;
    justify-content: space-between;
}
.info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100vh;
    background-color: #222;
    padding: 75px 50px;
    color: white;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    padding: 50px;
}
.login-container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

.login-input{
    padding: 10px;
    margin-bottom: 15px;
}

.login-header{
    margin-bottom: 15px;
}

.login-btns{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-btns button{
    margin-bottom: 15px;
}

.logo{
    width: 100px;
    margin-right: 10px;
}

.header{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.title{
    font-size: 38px;
}

.demo-btn{
    background-color: #134563;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-icon{
    margin-left: 10px;
    font-size: 16px;
}

@media screen and (min-width:2000px){
    .title{
        font-size: 60px;
    }

    .logo{
        width: 125px;
    }

    .info-container{
        font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    .home-page{
        flex-direction: column;

    }

    .info-container{
        width: 100%;
    }

    .right{
        width: 100%;
        height: fit-content;
    }

    .title{
        font-size: 32px;
    }

    .logo{
        width: 75px;
    }
    
}