
.issue-wrapper{
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: solid grey 1px;
}

.issue-wrapper h3 {
    margin-right: 10px;
}

.issue-wrapper:hover{
    cursor: pointer;
    background-color: lightgrey;
}