.nav-wrapper{
    width: 100%;
    height: 62px;
    background-color: #222;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item{
    list-style: none;
    color: #fff;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.nav-item:hover{
    color: lightgrey;
    background-color: #134563;
    transition: 0.3s ease-in-out;
}
